
/* ===================================================================================
	TAG //////////////////////////////////////////////////////////////////////////////
	TAG //////////////////////////////////////////////////////////////////////////////
	TAG //////////////////////////////////////////////////////////////////////////////
=================================================================================== */ 
header {
	
}

body {
	margin: 0;
	padding: 0;
	
	background-color: #000;
	
	font-family: arial;
}




/* ===================================================================================
	CLASS ////////////////////////////////////////////////////////////////////////////
	CLASS ////////////////////////////////////////////////////////////////////////////
	CLASS ////////////////////////////////////////////////////////////////////////////
=================================================================================== */ 



/* ==========================================================
	ARTICLE div for each separate stories
========================================================== */
div.story{ /* story div for each story */
	padding:0px;
	margin-left:3%;
	margin-right:3%;
	margin-bottom: 8px;
	
	
	text-align: left;
	color:#eee;
}
div.storyContent{ /* main class for title, buttons and previews */
	width:100%;
	
	word-wrap: break-word;
	overflow: hidden;
}
div.storyTT{ /* story title wrapper div */
	background-color: #F2D4C4;
	
	overflow: hidden;
}
div.storyTTText{ /* title content */
	padding: 5px;
	padding-bottom: 3px;
	
	font-size:16px;
	font-weight:700;
	cursor: pointer;
	color: #3b3b3b;
}
div.storyFN{ /* story button div */
	padding:0%;
	height:26px;
	
	background-color: #E05C24;
}
div.storyPV{ /* story preview div */
	height:200px;
	display:none;
	
	background-color: #FFF4F4;
	
	overflow-y: hidden;
	cursor: pointer;
	
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

/* ==========================================================
	BUTTON
========================================================== */
button.storyBT{ /* button wrapper div */
	float:left;
	
	width:33.33333333%;
	height:100%;
	padding:0px;
	
	border:0px;
	background-color: #777;
	
	font-size: 12px;
	font-weight: 700;
	text-decoration:none;
	color:#eee;
}
button.storyBT1{ /* first button div */

}
button.storyBT2{ /* second button div */
	background-color: #666
}
button.storyBT3{ /* third button div */

}






/* ===================================================================================
	ID ///////////////////////////////////////////////////////////////////////////////
	ID ///////////////////////////////////////////////////////////////////////////////
	ID ///////////////////////////////////////////////////////////////////////////////
=================================================================================== */ 

/* 
	The main display div for all the storys.
*/
#mainDisplayDiv{
	width:100%;
	min-height: 100px;
	padding-top: 45px;
	padding-bottom: 1px;
	
	
	
	background-color:#3B3735;
}

#buttonDiv{
	display:none;
}

#toolbarDiv{
	height: 14px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	
	position: fixed;
	
	background-color:rgba(150,150,150,0.7);
	color: white;
}