
/* ===================================================================================
	TAG //////////////////////////////////////////////////////////////////////////////
	TAG //////////////////////////////////////////////////////////////////////////////
	TAG //////////////////////////////////////////////////////////////////////////////
=================================================================================== */ 
header {
	
}

body {
	background-color: #000;
	
	font-family: arial;
}




/* ===================================================================================
	CLASS ////////////////////////////////////////////////////////////////////////////
	CLASS ////////////////////////////////////////////////////////////////////////////
	CLASS ////////////////////////////////////////////////////////////////////////////
=================================================================================== */ 



/* ==========================================================
	ARTICLE div for each separate stories
========================================================== */
div.story{ /* story div for each story */
	padding:0px;
	margin-left:3%;
	margin-right:3%;
	margin-bottom: 5%;
	
	background-color: #899;
	
	text-align: left;
	color:#eee;
}
div.storyContent{ /* main class for title, buttons and previews */
	width:100%;
	
	word-wrap: break-word;
	overflow: hidden;
}
div.storyTT{ /* story title div */
	width:94%;
	padding:3%;
	height:51px;
	
	background-color: #455;
	
	font-size:16px;
}
div.storyFN{ /* story button div */
	padding:0%;
	height:30px;
	
	background-color: #566;
}
div.storyPV{ /* story preview div */
	height:250px;
	
	background-color: #abb;
	
	overflow-y: hidden;
}

/* ==========================================================
	BUTTON
========================================================== */
button.storyBT{ /* button wrapper div */
	float:left;
	
	width:33.33333333%;
	height:100%;
	padding:0px;
	
	border:0px;
	background-color: #777;
	
	font-size: 12px;
	font-weight: 700;
	text-decoration:none;
	color:#eee;
}
button.storyBT1{ /* first button div */

}
button.storyBT2{ /* second button div */
	background-color: #666
}
button.storyBT3{ /* third button div */

}






/* ===================================================================================
	ID ///////////////////////////////////////////////////////////////////////////////
	ID ///////////////////////////////////////////////////////////////////////////////
	ID ///////////////////////////////////////////////////////////////////////////////
=================================================================================== */ 

/* 
	The main display div for all the storys.
*/
#mainDisplayDiv{
	width:100%;
	min-height: 100px;
	padding-top: 15px;
	padding-bottom: 1px;
	
	background-color:#3D404F;
}